<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>下载采集数据</title>
    <link rel="icon" href="/static/pingpang.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tableStyle.css') }}" type="text/css"/>

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>

    <script type="text/javascript">
        function getButtonValue(pid) {
            //alert(pid.toString());
            //console.log(pid)
            var path = document.getElementById(pid).value;
            //var url = "http://39.108.71.233/action/download/collection/query?pathDir=" + path;
            var url = "{{url_for('.queryCollectionPath',pathDir='')}}"+path;
            $.ajax({
                url: url,
                type: 'get',
                //执行成功的回调函数
                success: function (result) {
                    //$('#jumpbox1').html(result);
                    var obj = JSON.parse(result);
                    var html = "";
                    for (var d in obj.dirList) {
                        var dirName = obj.dirList[d];
                        html += "<li> <input class=\"btn btn-success\" type='button' id='"+dirName+"' value='"+path+','+dirName+"' name='dirPath' onclick='getButtonValue(&apos;"+dirName+"&apos;)'  /> </li>";
                    }

                     for (var d in obj.fileList) {
                        var fileName = obj.fileList[d];

                        html += "<li> <a href="+"{{url_for('.dataChartShowFromCollection',pathDir='')}}"+path+','+fileName +" target='_blank' >"+fileName+"</a> </li>";
                    }

                    $('#dirPath').html(html);
                },
                //执行失败或错误的回调函数
                error: function (result) {
                    var html = "<h5 style='color:red'>查询失败</h3>";
                    $('#dirPath').html(html);
                }
            });
        }
    </script>
</head>

<body>

<h1>动态路径</h1>
<div id="dirPath"></div>

<div class="tree well">
<h1>根文件夹</h1>
    <ul>
        {% for dirName in treePath.dirList %}
            <li> <input type="button" id="{{ dirName }}" value="{{ dirName }}" name="dirPath" onclick="getButtonValue('{{ dirName }}')"/> </li>
        {% endfor %}
    </ul>
</div>

<h1> 文件 </h1>
<div>
    <ul>
        {% for fileName in treePath.fileList %}
            <li>
                <a href="#"> {{ fileName }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>